<nz-card class="card" [nzActions]="[linkTemplate]">
  <nz-card-meta *ngIf="title"
    [nzTitle]="title.data.value"
    [nzDescription]="profesionTemplate"

  >
  </nz-card-meta>
  <div class="content">
    <div class="line" *ngIf="doi">
      <span>DOI:</span>
      <p>{{doi.data.value}}</p>
    </div>
    <div class="line" *ngIf="doi">
      <span>Autores:</span>
      <div *ngIf="authors">
        <p *ngFor="let author of authorsToShow">
          {{author.data.value}}
          <a [href]="'https://www.scopus.com/authid/detail.uri?authorId='+author.id.value" target="_blank">
            <span nz-icon nzType="question-circle" nzTheme="outline"></span>
          </a>
        </p>
        <p *ngIf="showAllAuthors">
          <a href="#" (click)="toggleShowAll()">Ver menos</a>
        </p>
        <p *ngIf="!showAllAuthors && authors.length > 3">
          <a href="#" (click)="toggleShowAll()">Ver más</a>
        </p>
      </div>
    </div>

  </div>
  <ng-template #profesionTemplate>
    <div *ngIf="flagTag">
      Categorias:
      <nz-tag
        class="tag"
        *ngFor="let tag of tags"
        [nzColor]="tag[1]==''?'red':'blue'"
      >
        <a [href]="tag[1]" target="_blank">{{
          tag[0]}}</a>
      </nz-tag>
    </div>
  </ng-template>
  <ng-template #linkTemplate>
     <div class="action" *ngIf="link">
      <a [href]="link.data.value" target="_blank">
        <span class="icon" nz-icon nzType="link" nzTheme="outline"></span>
      </a>
    </div>
  </ng-template>
  <ng-template #avatarTemplate>
    <nz-avatar *ngIf="image" [nzSize]="72" [nzSrc]="image.value"></nz-avatar>
  </ng-template>
</nz-card>
