<nz-card class="card" [nzActions]="[linkTemplate]">
  <nz-card-meta *ngIf="title"
    [nzTitle]="title.data.value"
  >
  </nz-card-meta>
  <div class="content">
    <div class="line" *ngIf="dateBirth"  >
      <span> Nacio:</span>
      <p>
      {{ dateBirth.value | date : "fullDate" }}

      </p>
    </div>
    <div class="line" *ngIf="!flagDeath && dateDeath">
      <span>Fallece:</span>
      <p>
        {{ dateDeath.value | date : "fullDate" }}
      </p>
    </div>
  </div>
  <ng-template #profesionTemplate>
    <div>
      <nz-tag
        class="tag"
        *ngFor="let profesion of arrayProfesion"
        [nzColor]="'blue'"
      >
        <a [href]="profesion.profesion.value" target="_blank">{{
          profesion.profesionLabel.value
        }}</a>
      </nz-tag>
    </div>
  </ng-template>
  <ng-template #linkTemplate>
<!--     <div class="action">
      <a [href]="human.humanos.value" target="_blank">
        <span class="icon" nz-icon nzType="link" nzTheme="outline"></span>
      </a>
    </div> -->
  </ng-template>
  <ng-template #avatarTemplate>
    <nz-avatar *ngIf="image" [nzSize]="72" [nzSrc]="image.value"></nz-avatar>
  </ng-template>
</nz-card>
