.icon{
  color: #2d56cf;
  font-size: 2em;
  font-weight: 900;
}
.content{
  display: flex;
  padding-top: 0.75em;
  flex-direction: column;

}
.line{
  display: flex;
  gap: 0.5em;
}
.line span{
  font-weight: 600;
}
.ant-card-actions{
  background-color: aqua;
}
