<div class="area" >
  <ul class="circles">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
  </ul>
</div>
<main>
  <h1>Documentos mapeados en GraphDB</h1>
  <!-- <span class="hook">A continuacion debe selecionar un pais para visualizar sus personajes ilustres asi como sus ocupaciones</span> -->
<!-- <app-select-contry (selectCountry)="handleCountry($event)"></app-select-contry> -->
<!-- <app-select-ocupation></app-select-ocupation> -->
<div *ngIf="arrayDOCS.length>0" class="container">
<h2>Resultados:</h2>
<div class="card-container">
  <app-card-human class="card" *ngFor="let doc of arrayDOCS" [data]="doc"></app-card-human>
</div>
</div>
</main>


